<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.ictmagazine"
        version   = "2.0.0">
    <name>Memoria ICT</name>

    <description>
        Memoria ICT 2011
    </description>

    <author href="http://parajeles.com" email="gerardo@parajeles.com">
       GeJo Team
    </author>

    <icon src="res/icon/cordova_512.png"        width="512" height="512" />
    <icon src="res/icon/cordova_android_96.png" width="96"  height="96"  gap:platform="android" />
    <icon src="res/icon/cordova_bb_80.png"      width="80"  height="80"  gap:platform="blackberry" />
    <icon src="res/icon/cordova_ios_144.png"    width="144" height="144" gap:platform="ios" />

    <gap:splash src="splash/ios/Default.png" width="320" height="480" />
    <gap:splash src="splash/ios/Default_at_2x.png" width="640" height="960" />
    <gap:splash src="splash/ios/Default-Landscape.png" width="1024" height="768" />
    <gap:splash src="splash/ios/Default-Portrait.png" width="768" height="1024" />
  
    <!-- <gap:splash src="res/screen/Default-Portrait.png" width="768" height="1004" gap:platform="ios" /> -->


    <feature name="http://api.phonegap.com/1.0/device" />

    <preference name="phonegap-version" value="1.9.0" />
    <preference name="orientation"      value="portrait" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />
</widget>
